a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「杵築で織りなす逸品」帯部分 */
.title-contents {
  width: 100vw;
  height: 80vh;
  background-image: image-url('papaya-header.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「杵築で織りなす逸品」帯部分 */

/* きつきパパイヤ農園の３つの特徴 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #d67425;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reason-lists>.list {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 5vw;
}

.reason-lists>.list-2 {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 2vw 5vh 2vw;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  background-color: #d67425;
  color: #fff;
}

.reason-list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

.reason-list-blue-text {
  color: #d67425;
}

.reason-list-description {
  font-size: 18px;
  margin-top: 20px;
}

/* //きつきパパイヤ農園の３つの特徴 */

/* コンセプト*/
.ad-contents {
  width: 100vw;
  background-image: image-url('papaya-obi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.ad-title {
  font-size: 5vh;
  margin-bottom: 2vh;
}

.ad-explain {
  font-size: 2.5vh;
  line-height: 30px;
}

.concept-contents {
  width: 70vw;
  margin: 50px 0 70px 205px;
}

.concept-content {
  margin-bottom: 5vh;
  font-family: 'Noto Serif JP', serif;
}

.concept-top {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1vh;
}

.concept-body {
  font-size: 22px;
}



/* //コンセプト */

/* 商品紹介 */
.select-reason-contents {
  padding: 5vh 15vw;
}

.select-reason-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.select-reason-contents>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #d67425;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.reason-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reason-lists-2 {
  display: flex;
  justify-content: space-around;
}

.reason-lists>.list-items {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.reason-lists-2>.list-items {
  width: 33vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-pict {
  margin-bottom: 20px;
  width: 100%;
}

.reason-list-text-item {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.reason-list-description-item {
  font-size: 16px;
  margin: 2px 0 100px 0;
}

/* //商品紹介 */



/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #d67425;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}



.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.item-price {
  font-size: 1.5vh;
  display: flex;
  justify-content: space-between;
}


.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */

// 農地紹介 */
.map>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.map>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #d67425;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.map-body {
  padding: 5vh 15vw;
}

.address {
  font-size: 20px;
  margin-bottom: 30px;
}

.address-map {
  width: 70vw;
  height: 50vh;
}

/* // 農地紹介 */

// お問い合わせ */

.connect>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}
.connect>.title::after {
  content: '';
  width: 70px;
  height: 4px;
  background-color: #d67425;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.connect-body {
  padding: 5vh 15vw;
  font-size: 24px;
}

/* お名前入力欄の角を丸める */
#name {
  width: 30vw;
  border: 1px solid #ccc; /* ボーダーを追加 */
  border-radius: 5px; /* 角を丸める */
}

/* メールアドレス入力欄の角を丸める */
#email {
  width: 30vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* メッセージ入力欄の角を丸める */
#message {
  width: 70vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-btn {
  background-color: #f6994d;
  color: #3b3535;
  border: none;
  padding: 10px 40px;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

/* ボタンにホバー時のスタイルを追加（オプション） */
.send-btn:hover {
  background-color: #ff5500; /* ホバー時の背景色を変更 */
  color: #ffffff; /* ホバー時のテキスト色を変更 */
}

/* // お問い合わせ */